<?xml version="1.0"?>

<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/rslidar_points"/>
        <remap from="scan" to="scan"/>
        <rosparam>
            target_frame: rslidar # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.001
            min_height: 0.0 #-0.6
            max_height: 1.5 #2.0

            angle_min: -2.04 #-3.14 #-3.1415926 # -M_PI
            angle_max: 2.04 #3.14  #3.1415926 # M_PI
            angle_increment: 0.00314 # 0.17degree
            scan_time: 0.02
            range_min: 0.50  #0.30
            range_max: 50   #50
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

	<!--node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser1"
    args="0.15 0.0 0.75 0.0 0.0  0.0 base_link laser_frame" /-->
</launch>
