<?xml version="1.0"?>

<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan1" output="screen">

        <remap from="cloud_in" to="/camera/depth/depth2pc/filterspoints"/>
        <remap from="scan" to="scan2"/>
        <rosparam>
            target_frame: "camera_filters" # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.001
            min_height: -0.3
            max_height: 1

            angle_min: -3.1415926
            angle_max: 3.1415926  
            angle_increment: 0.006 
            scan_time: 0.1
            range_min: 0.1
            range_max: 1
            use_inf: false
            inf_epsilon: 1.0

            concurrency_level: 1
        </rosparam>

    </node>

  
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_broadcaster" args="0.24 0.0 0.48 0 0 0 base_link camera_filters" />

</launch>
