<!---->

<launch> 

  <arg name="map_name" default="c2"/>
  <arg name="map_file" default="$(find yhs_nav)/map/$(arg map_name).yaml"/>

  <!--include file="$(find inudev_camera)/launch/inudev_ros_nodelet.launch"/-->

  <include file="$(find yhs_can_control)/launch/yhs_can_control_bringup_carto.launch"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node name="cartographer_node" pkg="cartographer_ros"
    type="cartographer_node" args="
    -configuration_directory $(find cartographer_ros)/configuration_files
    -configuration_basename dgt_001mini_loc.lua
    -load_state_filename $(find yhs_nav)/map/$(arg map_name).pbstream"
    output="screen">

    <remap from="scan" to="/scan" />
    <remap from="imu" to="/imu_data" />
    <remap from="odom" to="/robot_pose_ekf/ekf_odom" />
    <remap from="/points2" to="/timoo_points" />
  </node>

  <include file="$(find yhs_nav)/launch/teb_move_base.launch"/> 


</launch>
